<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>

<div id="app">
    <button v-on:click="getBlocks">Get Blocks</button>
    <p>Blocks</p>
    <table border="2px">
        <tr>
            <th>Number</th>
            <th>TxCount</th>
            <th>Hash</th>
        </tr>
        <tr v-for="b in blocks">
           <td v-on:click="getBlock(b.number)"> {{ b.number }} </td>
           <td v-on:click="getTxsByBlockNum(b.number)"> {{ b.txcount }} </td>
           <td> {{ b.hash }} </td>
        </tr>
    </table>
    <p>Selected block</p>
    <table border="2px">
        <tr><td>Difficulty      </td><td>{{ block.difficulty       }}</td></tr>
        <tr><td>ExtraData       </td><td>{{ block.extradata        }}</td></tr>
        <tr><td>GasLimit        </td><td>{{ block.gaslimit         }}</td></tr>
        <tr><td>GasUsed         </td><td>{{ block.gasused          }}</td></tr>
        <tr><td>Hash            </td><td>{{ block.hash             }}</td></tr>
        <tr><td>LogsBloom       </td><td>{{ block.logsbloom        }}</td></tr>
        <tr><td>Miner           </td><td>{{ block.miner            }}</td></tr>
        <tr><td>MixHash         </td><td>{{ block.mixhash          }}</td></tr>
        <tr><td>Nonce           </td><td>{{ block.nonce            }}</td></tr>
        <tr><td>Number          </td><td>{{ block.number           }}</td></tr>
        <tr><td>ParentHash      </td><td>{{ block.parenthash       }}</td></tr>
        <tr><td>ReceiptsRoot    </td><td>{{ block.receiptsroot     }}</td></tr>
        <tr><td>Sha3Uncles      </td><td>{{ block.sha3uncles       }}</td></tr>
        <tr><td>Size            </td><td>{{ block.size             }}</td></tr>
        <tr><td>StateRoot       </td><td>{{ block.stateroot        }}</td></tr>
        <tr><td>Timestamp       </td><td>{{ block.timestamp        }}</td></tr>
        <tr><td>TotalDifficulty </td><td>{{ block.totaldifficulty  }}</td></tr>
        <tr><td>TransactionsRoot</td><td>{{ block.transactionsroot }}</td></tr>
        <tr><td>TxCount         </td><td v-on:click="getTxsByBlockNum(block.number)">{{ block.txcount          }}</td></tr>
    </table>

    <p>Transactions</p>
    <table border="2px">
        <tr>
            <th>Hash</th>
            <th>Block Number</th>
            <th>Nonce</th>
            <th>From</th>
            <th>To</th>
            <th>Value</th>
            <th>Gas</th>
            <th>GasPrice</th>
        </tr>
        <tr v-for="t in transactions">
            <td> {{ t.hash }} </td>
            <td> {{ t.blocknumber }}</td>
            <td> {{ t.nonce }} </td>
            <td v-on:click="getTxsByParticipant(t.from)"> {{ t.from }} </td>
            <td v-on:click="getTxsByParticipant(t.to)"> {{ t.to }} </td>
            <td> {{ t.value }} </td>
            <td> {{ t.gas }} </td>
            <td> {{ t.gasprice }} </td>
        </tr>
    </table>

</div>

<script src="app.js"></script>
</body>
</html>
